<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Battleship game</title>
    <style>
        .center {
            margin: auto;
            margin-bottom: 50px;
            text-align: center;
        }

        .cell {
            width: 50px;
            height: 50px;
            background-color: blue;
        }

        .cell.hit {
            background-color: red;
        }

        .cell.miss {
            background-color: green;
        }
    </style>
</head>
<body>
<h1 th:unless="${game.allShipsSunk()}" class="center">THE BATTLESHIP GAME</h1>
<h1 th:if="${game.allShipsSunk()}" class="center">You WON!!! Congrats :)</h1>
<h2 th:if="${game.allShipsSunk()}" class="center"><a href="/">Try again</a></h2>

<table class="center">
    <tr th:each="row : ${game.boardMap}">
        <td th:each="cellValue: ${row.value}">
            <a th:href="'/hit/?location=' + ${cellValue}">
                <div class="cell miss" th:if="${cellValue.hasBeenHit() && cellValue.isEmpty()}"></div>
                <div class="cell hit" th:if="${cellValue.hasBeenHit() && cellValue.isEmpty() == false}"></div>
                <div class="cell" th:unless="${cellValue.hasBeenHit()}"></div>
            </a>
        </td>
    </tr>
</table>
</body>
</html>